<!DOCTYPE html>
<html>
<body>
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/home.css'%}">
    <link rel="stylesheet" href="{%static 'fontawesome/css/font-awesome.min.css'%}">
</head>
<header>
    <nav><div class="left-wrapper"><h1>Jardín</h1> <a>Home</a> <a>About Us</a></div><div class="middle-wrapper"></div><div class="right-wrapper">
        <a href="{%url 'myGarden'%}">My Garden</a> <a href="{%url 'logOut'%}">Log Out</a>
    </div></nav>
</header>
<div class="wrapper">
    <div class="info">
        <h1>Embrace Nature with Expert Plant Care</h1>
        <p>Explore our comprehensive guides, expert tips, and valuable resources designed to help your plants flourish and thrive like never before</p>
        <a href="">Find the Plant That Reflects Your True Self!</a>
    </div>
    <div class="images">
        {% load static %}
        <img src="{% static 'images/picture1.svg'%}" alt="">
        <img src="{% static 'images/picture2.svg'%}" alt="">
        <img src="{% static 'images/picture3.svg'%}" alt="">
    </div>
</div>
</body>
</html>