<!DOCTYPE html>
<html>
<body>
<head>
    {% load static %}
    
    <link rel="stylesheet" href="{%static 'css/my_garden.css'%}">
    <link rel="stylesheet" href="{%static 'fontawesome/css/all.min.css'%}">
    <script>
        document.onreadystatechange = function() {
            if (document.readyState !== "complete") {
                document.querySelector("body").style.visibility = "hidden";
                
            } else {
    
                document.querySelector("body").style.visibility = "visible";
            }
        };
        function func(){
            if (document.activeElement == document.querySelector(".searchField")){
                document.querySelector("#searchForm").style.width="100%";
                document.querySelector(".searchField").style.width="100%";
            }else{
                document.querySelector("#searchForm").style.width="40px";
                document.querySelector(".searchField").style.width="0%";
            }
        }
        function changeWidth(){
            document.querySelector("#searchForm").style.width="100%";
            document.querySelector(".searchField").style.width="100%";
        }
    </script>

</head>
<header>    
    <nav><div class="left-wrapper"><a href="{%url 'home'%}"><h1>Jardín</h1><a/> <a href="{%url 'home'%}" class="active">Home</a> <a href="{%url 'aboutUs'%}" class="non-active">About Us</a></div><div class="middle-wrapper"><form onmouseover="changeWidth()" id="searchForm" action="{%url 'search'%}" method="post">{% csrf_token %}<input onfocus="func()" onfocusout="func()" name="search_query" type="text" class="searchField" placeholder="Search..."><button type="submt" class="searchButton"><i class="fa-solid fa-magnifying-glass"></i></button></form></div><div class="right-wrapper">
        <a href="{%url 'myGarden'%}" class="button-primary">My Garden</a> <a href="{%url 'logOut'%}" class="button-secondary">Log Out</a>
    </div></nav>
</header>
<div class="wrapper">
    
    {%if query_results%}
    <div class="container">
    <div class="plants-wrapper">
        {% for card in query_results %}
        <div class="plant-wrapper">
            <a href="{%url 'getPlant' card.id%}" class="card-link">
                <div class="card">
                    <div class="image-wrapper"><img src="{{card.default_image.regular_url}}" alt="" class="card-image"></div>
                    <p class="latin-name">{{card.scientific_name}}</p>
                    <h1>{{card.common_name}}</h1>
                </div>  
            </a>
        </div>
        {% endfor %}
        
    </div>
        
    </div>
    {%else%}
    <div class="info">
        <h1>No plants</h1>
        
    </div>
   
    {%endif%}
</div>
</body>
</html>