<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/plant_card.css">
    <title>Document</title>
</head>
<body>
    <a href="">
        <div class="card">
            <div class="image-wrapper"><img src="https://perenual.com/storage/species_image/794_anaphalis_margaritacea/regular/51637179515_76fcd9a6e8_b.jpg" alt="" class="card-image"></div>
            <p class="latin-name">Latin name bla bla</p>
            <h1>Kings Spear</h1>
        </div>  
    </a>
</body>
</html>